body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header h1 {
    text-align: center;
    margin-top: 50px; /* Adjust the top margin as needed */
    margin-bottom: 20px; /* Adjust the bottom margin as needed */
    margin-left: 60px;
}

#environeerL {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    right: 100px; /* Adjust the left position as needed */
    width: 200px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio for height */
  }


.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    border: 2px solid rgb(56, 19, 59);
}
.main-content h1 {
    /* text-align: center; */
    font-family: 'Brush Script MT', sans-serif;
    /* height: 100%;
    width: 200px; */
    font-size: 2em; /* Adjust the size as needed */
    /* margin-bottom: 20px;  */
    animation-name: bouncing;
    animation-duration: 1s; /* Set the duration of the animation */
    animation-iteration-count: infinite;
    position: relative; /* Set the position property */
  }


 
  @keyframes bouncing {  
    0% {
      top: 0px;
    }
   
    25%{
        top: 10px;
    }
   
    50%{
        top: 10px;
    }


    75% {
      top: 0px;
    }
    /* 50% {
        top: 20px;
    } */
   
  }




.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}


.sidebar a:hover {
    color: #f1f1f1;
}


.main-content {
    text-align: center;
    margin-left: auto; /* Auto margin to push the element to the right */
    margin-right: 20px; /* Adjust the right margin as needed */
    max-width: 25%;
    padding: 10px;
    border: 1px solid #009B77;
    background-color: #fff;
}


.main-content p{
    /* width: 200px;
    max-width: 50%; */
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
.dashboard-content {
    display: none; /* By default, dashboard contents are not displayed */
}

#map {
    height: 500px; /* Ensure map has a set height */
}

/* Other styling as needed */



