body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    border: 2px solid rgb(56, 19, 59);
}
.main-content h1 {
    /* text-align: center; */
    font-family: 'Brush Script MT', sans-serif;
    /* height: 100%;
    width: 200px; */
    font-size: 2em; /* Adjust the size as needed */
    /* margin-bottom: 20px;  */
  }

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.main-content {
    text-align: center;
    /* margin-left: 200px; */

    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
.dashboard-content {
    display: none; /* By default, dashboard contents are not displayed */
}

#map {
    height: 500px; /* Ensure map has a set height */
}

/* Other styling as needed */
